body {
    padding: 10px 0px;
    height: 100vh;
    min-width:95vw;
    margin: 0px;
    font-family: 'Urbanist', sans-serif;

    overflow: hidden;
  

    background-color:rgb(1,1,8,0.95);
    /* opacity: 0.8; */
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #010108 27px ), repeating-linear-gradient( #060e0755, #1a251c );
}
